.modalParent .modal-content{
    overflow: hidden;
    background-color: transparent !important;
    border-radius: 8px;
    border:none
}
.headStyle{
    background-color: #ff0000;
    padding: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.bottomStyle{
    background-color: #fff;
    padding:12px
}
.list{
    padding:8px; 
    border-radius: 4px;
}
.list:hover{
    background-color: #ff0000;
    color:#fff
}