.Employee {
    font-size: 60px;
    text-shadow: 8px 8px 10px #a7a7a7;
}

.user {
    transition: all 500ms;
    height:80px;
    cursor: pointer;
}

.user:hover {
    transition: all 500ms;
    margin-left: 20px;
    color: #ff0000
}

.loc {
    color: #999
}

.line {
    width: 0;
    margin-top: 8px;
    background-color: #000;
}

.user:hover .line {
    transition: all 1500ms;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
}

.activeUser{
    height:80px;
    cursor: pointer;
    transition: all 500ms;
    margin-left: 20px;
    color: #ff0000
}